body {
  background-color: #FFF;
  margin:0;
  font-family: "Bitstream Vera Sans", Verdana, Geneva, Arial, Helvetica, sans-serif;
}

/**
 * if you want the wrapper to hold the width instead of the header
 * and content areas uncomment below lines and remove width from
 * said containers
 */

#wrapper {
  /*
  width:  817px;
  margin:  0px auto;
  padding: 0px;
  padding: 7px 0 0 0;
  */
  /* Use a 12px base font size with a 16px line height */
  font-size: 0.75em; /* 16px x .75 = 12px */
  line-height: 1.333em; /* 12px x 1.333 = 16px */
  background: url(images/background-gradient.png) repeat-x;
}

/**
 * Override generic html
 */

a {
  color: #a94700;
  text-decoration: none;
  outline: none;
}
a:link {
}
a:visited {
}
a:hover, a:focus {
  color: #5c2300;
}
a:active, a.active {
  font-weight: bold;
  color: #FFF
}

img {
  border:0;
  margin-top:.5em;
}

input.form-text {
  border: 1px solid #333;
  font-size: 110%;
  padding: 3px;
}

/**
 * Override drupal system.css
 */
.item-list {
  margin-top: 12px;
}

.item-list ul li {
  list-style-type: none;
}

ul.links {
}

.block ul {
  padding: 0;
}

/**
 * Reusable classes
 */

.clear{
  clear:both;
}
.strong{
  font-weight: bold;
}
.left{
  float:left;
}
.right{
  float:right;
}
.none{
  float:none;
}

/* end generic; all sap elements must have margin-left and with defined */


#title {
  width: 65%;
}


/**
 *  Layout
 */

#sidebar-left {
  width: 160px;
  float: left;
  padding: 20px;
}

#main-content {
  color: #444;
  background-color: #fff;
  float: left;
  width: 620px;
  margin: 20px;
}

.no-sidebars #main-content {
  width: 860px;
}

#main {
  width: 900px;
  clear: both;
  overflow: auto;
  margin: 0 auto;
  padding: 0 20px;
  background: url(images/main-shadow.png) repeat-y;
}

#logo {
  float: left;
  padding: 0 30px;
}

#header {
  overflow: hidden;
  margin: 0 auto;
  width: 940px;
  padding: 15px 0 0;
}

/**
 * Header region
 */

#header-inner-wrapper {
  background: url(images/main-shadow.png) repeat-y;
}
#header-inner {
  background: url(images/header.png) repeat-x top center;
  height: 216px;
}
.header-content {
  margin: 0 20px;
}

#header-region .block {
  width: 300px;
  float: left;
}
#header-region .block-inner {
  padding: 10px;
}

#header-region .block-inner .title {
  color: #FFF;
  font-size: 1.2em;
  font-weight: bold;
  height: 63px;
  padding: 25px 0 0 70px;
  text-align: center;
  text-shadow: 2px 2px 2px #002E45;
  margin: 0;
}
#header-region .block-inner .content p {
  margin: 0;
}
#header-region .block-inner .content {
  border: 1px solid #BFBFBF;
  border-top: none;
  padding: 15px 10px 10px 10px;
  margin-top: -13px;
}

.handy-link {
  display:block;
  margin: 15px 0 10px 0;
  padding: 5px 0;
  background: transparent url(images/handy-link.png) repeat-x scroll 0 0;
  -moz-border-radius:17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
  -moz-box-shadow:0 0 9px #6E6E6E;
  color: #FFF;
  font-weight: bold;
  font-size: 1.1em;
  text-align: center;
  text-shadow: 2px 2px 2px #9D3107;
  text-transform: uppercase;
}

/**
 * Blocks
 */

div.block {
}

#block-block-1 .title {
  background: transparent url(images/header-block-newbies.png) no-repeat scroll 0 0;
}
#block-block-2 .title {
  background: transparent url(images/header-block-ninjas.png) no-repeat scroll 0 0;
}
#block-block-3 .title {
  background: transparent url(images/header-block-employer.png) no-repeat scroll 0 0;
}

/**
 * Footer
 */

#footer {
  clear: both;
  width: 100%;
  text-align: center;
  background-color: #efefef;
  color: #999;
  font-size: 0.9em;
  margin: 0;
  padding: 20px 0 0 0;
  background: url(images/footer-gradient.png) repeat-x #265a92;
  min-height: 290px;
}

#footer h3 {
  text-align: left;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  margin: 43px 0 0 50px ;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  width: 865px;
}

#main-content .node {
  border-bottom: 1px solid #EFEFEF;
  margin: 0 0 20px;
  padding: 0 0 30px;
}

#footer-inner-container ul {
  list-style: none;
}

#footer-inner-container li {
  float: left;
}

#footer-inner-container {
  width: 960px;
  margin: 0 auto;
}


#footer_message {
  color: white;
}

#footer_message a {
  color: white;
}
/* menu enlaces externos*/

#external_links {
}


#external_links ul {
  width: 507px; 
  float: left;
  text-align: left;
  margin: 5px 0 60px 64px;
}


#external_links li {
  float: left;
  width: 158px;
  display: block;
  list-style: disc;
  display:list-item;
  color: white;
  padding: 0;
}
#external_links a {
  color: white;
}


/**
 * Primary Navigation
 */

#navigation {
  text-align: center;
  font-size: 130%;
  background: transparent url(images/navigation-shadow.png) no-repeat scroll 0 0;
  padding-top: 15px;
  height: 21px;
}
#navigation-inner {
  background: transparent url(images/navigation.png) repeat-x scroll 0 0;
  -moz-border-radius-topleft: 25px;
  -webkit-border-top-left-radius: 25px;
  border-top-left-radius: 25px;
  -moz-border-radius-topright: 25px;
  -webkit-border-top-right-radius: 25px;
  border-top-right-radius: 25px;
}

ul.primary-links {
  padding: 2px;
}

#navigation li {
  padding: 0;
}

#navigation a {
  margin: 0px;
  padding: 0 10px;
  border-right: 1px solid #FFF;
  font-weight: bold;
  font-size: 0.7em;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
}
#navigation a:hover, #navigation a:focus {
  text-decoration:underline;
}
#navigation a.active, #navigation a:active {
  color: #183859;
  text-decoration: none;
}
#navigation li.last a {
  border-right:none;
}

/**
 * Headers
 */

#site-name a {
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: #FFF;
  padding-top: 89px;
  padding-bottom: 16px;
}
div#site-name a {
  font-size: 6em;
}
#site-name a {
  font-size: 3em;
  letter-spacing: -0.08em;
}
h1#site-name {
  margin:0;
}

h1.title {
  font-size:2em;
  line-height:1.2;
  color:#A94700 ;
  margin-bottom: 15px; 
}

#front h2 a {
  color: #272727;
  font-size: 1.2em;
}

h1, h2, h3 {
  margin: 0;
}

#slogan {
  color: #FFF;
  margin: 27px 0 0 5px;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.05em;
}

h2.teaser-title {
  margin: 30px 0 10px;
  font-size: 2em;
}
h2.teaser-title a {
  color: #000;
}

/**
 * Block edit
 */

div.block {
  position: relative;
}

div.block div.edit {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 40;
  border: 1px solid #eee;
  padding: 0 2px;
  font-size: 9px;
  background-color: #fff;
}

div.block:hover div.edit {
  display: block;
}


div.tabs {
  padding: 10px 0 0 0;
}

/**
 * Secondary menus
 */

#sidebar-left .block h2 {
  margin: 5px 0 15px 0;
  text-transform: uppercase;
  font-size: 1.2em;
}

.block .menu li, .block ul.menu{
  list-style: none;
}

/**
 * Content styling
 */

#main-content .content ul li{
  list-style: none;
  background: url(images/bullet.png) no-repeat 0 0.4em;
  padding: 0 0 .2em 1.5em;
  font-weight: bold;
}

#main-content .content ul li a {
  color: #531a1b;
}

#front #main-content .content ul li {
  background: url(images/bullet.png) no-repeat 0 0.8em;
}

#main-content .content ul {
  margin:1.5em 0;
  padding-left:2.5em;
}

div.terms {
  margin: 15px 0;
}

/**
 * Front
 */

input#edit-search-theme-form-keys {
  border: 1px solid #b9bcab;
}

#search-block-form input#edit-submit, #search-block-form .form-item{
  margin: 3px 0 0 5px;
  float:left;
}

/**
 * Posts
 */

.node .post-date {
  padding: 0 0 20px 0;
}

/**
 * Comments
 */

#comments {
  margin-bottom: 30px;
}

#commentblock {
  width: 450px;
  background: #E8E8E8;
  color: #000000;
  float: left;
  padding: 20px 20px 10px 20px;
  margin: 10px 0px 0px 0px;
  border-top: 2px solid #000000;
  border-bottom: 1px solid #000000;
}

#commentblock ol {
  list-style-type: square;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 10px 0px;
}

.commentdate {
  font-size: 12px;
  padding-left: 0px;
}

#commentlist li p {
  margin-bottom: 8px;
  line-height: 20px;
  padding: 0px;
}

.commentname {
  color: #333333;
  margin: 0px;
  padding: 5px 5px 5px 0px;
}

.commentinfo {
  clear: both;
}

.commenttext {
  clear: both;
  margin: 3px 0px 20px 0px;
  padding: 20px 10px 5px 10px;
  width: 390px;
  background: #E8E8E8 url(images/comment.gif) no-repeat top;
  -moz-border-radius-bottomleft:10px;
  -moz-border-radius-bottomright:10px;
  -webkit-border-radius: 10px;
}

.commenttext-admin {
  clear: both;
  margin: 3px 0px 20px 0px;
  padding: 20px 10px 5px 10px;
  width: 390px;
  background: #FFF url(images/comment.gif) no-repeat top;
}

#commentsformheader {
  padding-left: 0px;
  }

#commentsform {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

#commentsform form {
  text-align: left;
  margin: 0px;
}

#commentsform p {
  margin: 0px;
}

#commentsform form textarea {
  width: 99%;
}

p.comments_link img {
  margin: 0px;
  padding: 0px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
}

/**
 * Messages
 */

div.messages,
div.status,
div.warning,
div.error {
  background-color: #e8e8ff;
  background-image: url(images/status-info.png);
  /*background-position: 8px 0.33em;  LTR */
  background-position: 8px center;
  background-repeat: no-repeat;
  color: #000;
  margin: 0 1em 5px 1em;
  min-height: 21px;
  padding: 0.25em 0.5em 0.25em 32px; /* LTR */
  border:none;
}

div.warning {
  background-color: #fcfca7;
  background-image: url(images/status-warning.png);
}

div.error {
  background-color: #fcc;
  background-image: url(images/status-error.png);
}

div.messages ul {
  margin-bottom: 0;
  margin-top: 0;
}


/**
 * Veerle's tables
 */

table a,
table a:link,
table a:visited {
  border:none;
}

table {
  width: 90%;
  border-top: 1px solid #e5eff8;
  border-right: 1px solid #e5eff8;
  margin: 1em auto;
  border-collapse:collapse;
}
tr.odd td {
  background: #f7fbff
}
tr.odd .column1 {
  background: #f4f9fe;
}
.column1  {
  background: #f9fcfe;
}
td {
  color: #678197;
  border-bottom: 1px solid #e5eff8;
  border-left: 1px solid #e5eff8;
  padding: .3em 1em;
  text-align: center;
}
th {
  font-weight: normal;
  color: #678197;
  text-align: left;
  border-bottom: 1px solid #e5eff8;
  border-left: 1px solid #e5eff8;
  padding: .3em 1em;
}
thead th {
  background: #f4f9fe;
  text-align: center;
  color: #66a3d3
}
tfoot th {
  text-align: center;
  background: #f4f9fe;
}
tfoot th strong {
  margin: .5em .5em .5em 0;
  color: #66a3d3;
}
tfoot th em {
  color: #f03b58;
  font-weight: bold;
  font-size: 1.1em;
  font-style: normal;
}

/**
 * Frontpage
 */

.frontpage-portadab-item {
  width: 286px;
}
.frontpage-portadab-inner {
  padding: 0 10px 10px;
}
.view-frontpage.view-id-frontpage.view-display-id-block_1.view-dom-id-2 h2.title {
  font-size: 2em;
  line-height: 1em;
  font-weight: bold;
  text-transform:uppercase;
  padding-top: 6px;
}

.right img {
  margin-left: 20px;
}

#content-top {
  border-bottom:2px dotted #bdbdbd;
  padding-bottom:26px;
}  

.short-news-container {
  background: url(images/short-news-background.png) repeat-y;
  margin-top: 30px;
  min-height: 290px;
}


.short-news-container h2 {
  margin-bottom: 10px;
  line-height: 1.1em;
}

/* enlace ver más*/
.link a{
  background: #A94700;
  padding: 3px 5px;
  color: white;
}

.link a:hover {
  background: #2e6cac;
}
